
.footer{
    background-color: lighten($color: $dark-blue, $amount: 70%);
    margin-top: $xl-size;
    padding-top: $xl-size;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer--container {
    min-width: 37rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link {
    padding: 0;
    color: $dark-blue;
    font-weight: bold;
}