label {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    padding: 0 5px;
  }


  .urlAndMessageForms {
    margin-top: $xl-size;
    max-width: 400px;
}

.inputForm--url {
    margin-bottom: $xl-size;
}

.inputForm--message {
    margin-bottom: $s-size;
}

textarea, input{
    border: 2px solid $gray-200;
    border-radius: 10px;
    background-color: $gray-100;
    color: $gray-800;
    font-size: $m-size;
    padding: $s-size 5px;
    width: 100%;
}

textarea {
    height: 200px;
}

input:focus,
textarea:focus {
  outline: none;
}

.error {
    color: red;
    padding: 5px;
}